html,body{
	width: 100%;
	min-height: 100%;
	margin: 0;

}

.container .cover {
	width: 100%;
	height: 700px;
	background-color: lavender;
}
/*
.cover .dicCover{
	width: 460px;
	height: 570px;
	color: white;
	margin: auto;
	margin-top: 8px;
	border-top-left-radius: 50px;
	border-bottom-left-radius: 4px;
	background: linear-gradient(to right, #33ccff 0%,#3399ff 12%, #ff99cc 100%);
	clip-path: polygon(0% 0%, 100% 0, 97% 12%, 97% 13%, 97% 13%, 100% 23%,100% 100%, 0% 100%);
	border-right: solid 1px;
	border-bottom: solid 1px;
	box-shadow: 80px 80px 5px #888888;

}


.cover .dicCover .pages{
	width: 490px;
	height: 120px;
	background-color: #ffffe6;
	margin-left: 9px;
	margin-top: 9px;
	border-bottom-left-radius: 48px;
	border-top-left-radius: 48px;
	overflow: hidden;
	position: absolute;
	
}

.cover .dicCover h1{
	top: 220px;
	margin-left: 38%;
	position: relative;

}

.cover .dicCover p{
	top: 350px;
	margin-left: 38%;
	position: relative;
	font-family: fantasy;
	word-spacing: 4px;
}




*/
.container #openCover{
	width: 988px;
	height: 600px;
	margin: auto;
	background: linear-gradient(to right, #ff99cc 0%,#3399ff 30%, #ff99cc 100%);

}

.container .openLeft {
	display: inline-block;
	width: 422px;
	height: 570px;
	background-color: #fcf9f0;
	margin-left: 35px;
	margin-top: 15px;
	box-shadow: 5px 5px 5px #888888;
	background: linear-gradient(to left,#a6a6a6 0%,#fcf9f0 3%);
	
}


.pageCon {
	width: 500px;
	height: 570px;
	background-color: #fcf9f0;
	margin: auto;
	margin-top: 15px;
	display: inline-block;
	position: absolute;
	left: 640px;
	box-shadow: 5px 5px 5px #888888;
	background: linear-gradient(to right,#a6a6a6 0%,#fcf9f0 2%);

}
.container .pageCon .ui.icon.input{
	top: 110px;
	left: 20px;
	position: absolute;
}

.container .pageCon .ui.input input {
	width: 450px;
	height: 50px;
	font-size: large;

}
.container .pageCon .ui.icon.input i{
	color: violet;
	background-color: lavender;
	font-size: large;
}

.container .pageCon #myDiv{
	top: 200px;
	margin-top: 200px;
	margin-left: 27px;
	font-size: 15px;
	color: black;
	line-height: 22px;
}


.container #openCover .openLeft .proverb{
	font-size: 18px;
	padding-top: 30px;
	line-height: 35px;
	word-wrap:break-word;
	word-spacing: 5px;
	font-family: fantasy;
	color: #8e3abd;
	text-align: center;

}

.container #openCover .openLeft .author {
	float: right;
	margin-right: 10px;
	color: #674b77;
	font-size: 18px;
	font-family: fantasy;
}


#openCover .openLeft #myCanvas img{
	margin-top: 50px;
	margin-left: 50px;
	width: 300px;
	height: 300px;
	border-radius: 5px;
	
}











